@charset "utf-8";
@function s($px) {
    @return($px/75)*1rem;
}
.infor-box{
    display: -webkit-box;
    width: 100%;
    -webkit-box-sizing: border-box;
    padding: 0 s($px:30);
    span{
        display: block;
        -webkit-box-flex: 1;
        font-size: s($px:32);
    }
    span:nth-child(1){
        width: s($px:200);
    }
    span:nth-child(3){
        text-align: center;
    }
    
}
.tit{
    border-bottom: s($px:2) solid #dedede;
    padding: s($px:10) s($px:30) s($px:40); 
}
.infor-list{
    padding: 0 s($px:30);
    li{
        display: -webkit-box;
        width: 100%;
        -webkit-box-sizing: border-box;
        padding-bottom: s($px:60);
        p{
            height: s($px:64);
            line-height: s($px:64);
            display: block;
            -webkit-box-flex: 1;
            font-size: s($px:32);
            span{
                display: block;
                height: s($px:36);
                line-height: 1;
                font-size: s($px:32);
                color: #666;
                font-family: 'pinfangBold';
                text-indent: s($px:14);
            }
            u{
                height: s($px:30);
                line-height: 1.4;
                display: block;
                font-size: s($px:28);
                font-family: 'Arial';
                text-indent: s($px:24);
            }
        }
        p:nth-child(1){
            width: s($px:190);
        }
        p:nth-child(2){
            text-align: center;
            font-weight: 600;
            font-family: 'Arial';
            color: #e80618;
        }
        p:nth-child(3){
            font-family: 'Arial';
            text-align: right;
            margin-right: s($px:10);
        }
    }
}
